/* Alone for now, but used for universal input styles in the future */
.textInput {
    font-family: var(--font-family-sans);
}

.textInput {
    appearance: none;

    padding: var(--spacing-2);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);

    border: 1px solid var(--gray-300);
    border-radius: var(--border-radius-1);
}

.textInput:focus {
    outline: none;
    border: 1px solid var(--gray-900);
}

.textInput:disabled {
    background-color: var(--gray-100);
    border-color: var(--gray-200);
    color: var(--gray-500);
    cursor: not-allowed;
}