/* Alone for now, but used for universal input styles in the future */
.textInput,
.select {
    font-family: var(--font-family-sans);
}

/* Text Input styles */
.textInput {
    appearance: none;

    padding: var(--spacing-2);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);

    border: 1px solid var(--gray-300);
    border-radius: var(--border-radius-1);
}

.textInput:focus {
    outline: none;
    border: 1px solid var(--gray-900);
}

.textInput:disabled {
    background-color: var(--gray-100);
    border-color: var(--gray-200);
    color: var(--gray-500);
    cursor: not-allowed;
}

/* Select styles */
.select {
    padding: var(--spacing-2);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);

    border: 1px solid var(--gray-300);
    border-radius: var(--border-radius-1);
}

.select:focus {
    outline: none;
    border: 1px solid var(--gray-900);
}

.select:disabled {
    background-color: var(--gray-100);
    border-color: var(--gray-200);
    color: var(--gray-500);
    cursor: not-allowed;
}

/* Text Area styles */
.textArea {
    appearance: none;

    padding: var(--spacing-2);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);

    border: 1px solid var(--gray-300);
    border-radius: var(--border-radius-1);
}

.textArea:focus {
    outline: none;
    border: 1px solid var(--gray-900);
}

.textArea:disabled {
    background-color: var(--gray-100);
    border-color: var(--gray-200);
    color: var(--gray-500);
    cursor: not-allowed;
}

/* Checkbox styles */
.checkboxWrapper {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
}

.checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid var(--gray-300);
    border-radius: 4px;
    background-color: white;
    position: relative;
    cursor: pointer;
}

.checkbox:checked {
    background-color: var(--gray-900);
    border-color: var(--gray-900);
}

.checkbox:disabled {
    background-color: var(--gray-100);
    border-color: var(--gray-200);
    cursor: not-allowed;
}

/* Radio Button styles */
.radioWrapper {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
}

.radio {
    width: 16px;
    height: 16px;
    border: 1px solid var(--gray-300);
    border-radius: 50%;
    background-color: white;
    position: relative;
    cursor: pointer;
}

.radio:checked {
    background-color: var(--gray-900);
    border-color: var(--gray-900);
}

.radio:disabled {
    background-color: var(--gray-100);
    border-color: var(--gray-200);
    cursor: not-allowed;
}