*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: var(--font-family-sans);
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
  background-color: var(--white);
  color: var(--font-color-primary);
}

h1 {
  font-size: var(--font-size-display);
  line-height: var(--font-lineheight-display);
  font-weight: var(--font-weight-bold);
}

h2,
h3,
h4 {
  line-height: var(--font-lineheight-headings);
  color: var(--font-color-primary);
  font-weight: var(--font-weight-semi-bold);
}

h2 {
  font-size: var(--font-size-title);
}

h3 {
  font-size: var(--font-size-heading);
}

h4 {
  font-size: var(--font-size-subheading);
}

p {
  font-size: var(--font-size-body);
  line-height: var(--font-lineheight-body);
  font-weight: var(--font-weight-regular);
  color: var(--font-color-secondary);
}

strong {
  font-weight: var(--font-weight-semi-bold);
  color: var(--font-color-primary);
}

small {
  font-size: var(--font-size-small);
  color: var(--font-color-secondary);
}
