.article {
  width: 100%;
  padding: var(--spacing-4);
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  padding-bottom: var(--spacing-3);
}

.header h2 {
  margin-top: var(--spacing-5);
  margin-left: var(--spacing-2);
}

.divider {
  border: none;
  border-top: 1px solid var(--gray-300);
  margin: var(--spacing-4) 0;
}

.divider:last-child {
  display: none;
}

.metadata {
  padding: var(--spacing-2);
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  padding: var(--spacing-2);
}

.section ul, .section ol {
  margin-left: var(--spacing-6);
  margin-bottom: var(--spacing-3);
  color: var(--font-color-secondary);
}

.section li {
  margin-bottom: var(--spacing-1);
}

.section h4 {
  margin-top: var(--spacing-3);
}

@media (min-width: 768px) {
  .article {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  .section p {
    width: 75ch;
  }
}
