.codeSnippet {
    display: flex;
    flex-direction: column;

    background-color: var(--background-color-secondary);
    border-radius: var(--border-radius-2);
}

.codeSnippet pre {
    margin-left: var(--spacing-4);
    margin-bottom: var(--spacing-4);

    overflow-x: auto;
}

.codeSnippet pre code {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-small);
    color: var(--font-color-primary);
    line-height: var(--font-lineheight-body);
}

.snippetHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: var(--spacing-2);
}

.snippetHeader span {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-small);
    margin-left: var(--spacing-2);
}